<!DOCTYPE html>
<html lang="en">
<head>
<title>{title} | Jewitch</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{description}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="/assets/site.css">
</head>

<body>
<a class="visually-hidden" rel="me" href="https://social.lol/@jewitch">Mastodon</a>
<div class="site">
    <header class="site-header">
        <h1 class="site-title"><a href="/">Jewitch</a></h1>
        <div class="tagline">Musings of a Jewish Witch</div>
        <nav class="site-nav" aria-label="Main navigation">
            <a href="/">Home</a>
            <a href="/blog/">Blog</a>
            <a href="/about/">About</a>
            <a href="/now/">Now</a>
            <a href="/colophon/">Colophon</a>
        </nav>
    </header>

    <div class="content">
        <main>
            {content}
        </main>
    </div>

    <footer class="site-footer">
        Copyright 2026 Shira. Built with the Alpha Version of <a href="https://neato.pub/">Neato</a> by Adam Newbold.
    </footer>
</div>
</body>
</html>
