---
layout: layouts/base.njk
---
<div class="content home-content">
  <div class="terminal-command" aria-hidden="true"><span>shira@jewit.ch:~$</span> ./welcome</div>
  <main>{{ content | safe }}</main>
</div>
